n8n_flow_backupB2TQTjktFsplOLMR.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Token amis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token amis": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Normalize data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T17:47:48.297Z",
  "id": "B2TQTjktFsplOLMR",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 36",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ],
      "id": "6e8d983f-5fff-467a-b779-bda4fef486db",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/api/oauth/actopen/connect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=                        {\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"access_code\": \"{{ $json.token_amis_1 }}\",\n                        \"org_company_code\": \"congtydemoketnoiact\"\n                        } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -224
      ],
      "id": "32bbbd29-6ea7-4632-bda5-1bf0605af887",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "dD/gOdqKSuDoghc9H7VprYZnpreeyrizGODZmJPOKwSf8WVG2TcTWXakV0HhPxzr094e25NpzBiPxva94MWvoWJM2t6NrBbLYya1sgMJln4iM/buh85knuSA8du9Wemm44ZKra5S8C5u2N+2iHKmmLD/ULrw9dQ0MXFv8CL+2LG36CwEfpnc7QBS1FRzxX0otvBNRoJMCGK5OKNeitUb7Q=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 3 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        896
      ],
      "id": "7f95af06-9a3a-4fd1-8d40-11d3a3cd9640",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 2 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 900,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        496
      ],
      "id": "fbdfc1cf-c4b0-4284-bd18-88ab865ddb73",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 1 ,\n                        \"branch_id\": \"db8550da-2fe4-4970-8758-d92e78e2ddd0\",\n                        \"skip\": 0,\n                        \"take\": 1000,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": \"2000-01-25 14:15:02\"\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -224
      ],
      "id": "51fbcd8e-4713-4a08-8710-d9f779c9ee55",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_list_inventory_balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":6 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        416
      ],
      "id": "28eaeb32-2ff6-4db2-aae1-b8428840568d",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "dD/gOdqKSuDoghc9H7VprYZnpreeyrizGODZmJPOKwSf8WVG2TcTWXakV0HhPxzr094e25NpzBiPxva94MWvoWJM2t6NrBbLYya1sgMJln4iM/buh85knuSA8du9Wemm44ZKra5S8C5u2N+2iHKmmLD/ULrw9dQ0MXFv8CL+2LG36CwEfpnc7QBS1FRzxX0otvBNRoJMCGK5OKNeitUb7Q=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 4 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        656
      ],
      "id": "c84a7c30-2e29-454e-96fc-36d064dc6d63",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 5 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        752
      ],
      "id": "886feafc-44ea-456c-97c9-4a477da62e8a",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":8 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        640
      ],
      "id": "be2bf783-ccf0-457f-935c-a6b6fc17692f",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":11 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1040
      ],
      "id": "76bf571d-e98b-483b-92bd-ed51af532c2e",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":12 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        944
      ],
      "id": "caa10092-3138-4fb1-b155-3ada6cb1adc8",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON string\nconst raw = $json[\"Data\"];\nconst parsed = JSON.parse(raw);\n\n// Trả về mỗi object là một item mới\nreturn parsed.map(item => {\n  return {\n    json: item\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -224
      ],
      "id": "a74d10ce-49e8-4e82-9f3f-170e98f0ccb9",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a7f1cfbe36b81010",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -224
      ],
      "id": "45c7f1ff-5951-4f3c-93bb-af91e44f9385",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/JMPjbVInEaHXoHsAfMYlUUyBghf/tables/tblty0l4pO5QrB0R/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"inventory_item_id\": \"{{ $('Normalize data1').item.json.inventory_item_id }}\",\n    \"inventory_item_code\": \"{{ $('Normalize data1').item.json.inventory_item_code }}\",\n    \"inventory_item_name\": \"{{ $('Normalize data1').item.json.inventory_item_name }}\",\n    \"stock_id\": \"{{ $('Normalize data1').item.json.stock_id }}\",\n    \"stock_code\": \"{{ $('Normalize data1').item.json.stock_code }}\",\n    \"stock_name\": \"{{ $('Normalize data1').item.json.stock_name }}\",\n    \"organization_unit_id\": \"{{ $('Normalize data1').item.json.organization_unit_id }}\",\n    \"organization_unit_code\": \"{{ $('Normalize data1').item.json.organization_unit_code }}\",\n    \"organization_unit_name\": \"{{ $('Normalize data1').item.json.organization_unit_name }}\",\n    \"quantity_balance\": \"{{ $('Normalize data1').item.json.quantity_balance }}\",\n    \"amount_balance\": \"{{ $('Normalize data1').item.json.amount_balance }}\",\n    \"unit_price\": \"{{ $('Normalize data1').item.json.unit_price }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        480
      ],
      "id": "6a524ae7-1acd-4d8c-8b42-529084e117c5",
      "name": "Creates records lark"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77775875-fff9-4792-9778-a8f2d4deb7d4",
              "name": "Amis_data.code",
              "value": "={{ $json.account_object_code }}",
              "type": "string"
            },
            {
              "id": "6a315617-d1c9-4320-b851-e3dcc5207b4b",
              "name": "Amis_data.name",
              "value": "={{ $json.account_object_name }}",
              "type": "string"
            },
            {
              "id": "2b720bc6-df57-45e9-8b59-4fd90e51280a",
              "name": "Amis_data.address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "5494091e-aca5-40e0-9955-a8f3b75ac57c",
              "name": "Amis_data.tax_code",
              "value": "={{ $json.company_tax_code }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "af81a9e7-9c42-4d75-aa7e-1a0b02896a14",
      "name": "Normalize data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -224
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        -224
      ],
      "id": "4700c02f-4461-4d67-8a9c-580ac9a36323",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e285fa12-d272-48a0-a583-5e90b394fd74",
              "name": "user_data.code",
              "value": "={{ $json.Meta_data.name?.hash('sha256') }}",
              "type": "string"
            },
            {
              "id": "e0e524cf-62cc-4ca3-a469-4caa2ffcab62",
              "name": "user_data.name",
              "value": "={{ $json.Meta_data.email?.hash('sha256') }}",
              "type": "string"
            },
            {
              "id": "1e87a997-5b78-48d8-9616-edfb1b910743",
              "name": "user_data.phone",
              "value": "={{ $json.Meta_data.phone?.hash('sha256') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d70c5981-5240-41ed-acab-1545b8821298",
      "name": "Encrypt data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        672
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2656,
        -208
      ],
      "id": "7e88e9cd-bbdf-403f-85b0-1291bd5bb566",
      "name": "Wait1",
      "webhookId": "2db19d3e-fb49-4ba8-a108-457a6f9edb23"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1744,
        -224
      ],
      "id": "2ba3fcb3-a1d2-42cc-9438-302aa154339f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2832,
        672
      ],
      "id": "7e3c50f8-50b1-4b1e-a851-f3310ae00001"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON string\nconst raw = $json[\"Data\"];\nconst parsed = JSON.parse(raw);\n\n// Trả về mỗi object là một item mới\nreturn parsed.map(item => {\n  return {\n    json: item\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        640
      ],
      "id": "65d3dd97-ba0c-47be-abc2-6735a46989c9",
      "name": "Code3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_list_inventory_balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"org_company_code\": \"congtydemoketnoiact\",\n                        \"stock_id\": null,\n                        \"branch_id\": null,\n                        \"skip\": \"0\",\n                        \"take\": \"900\",\n                        \"last_sync_time\": \"2024-12-09T09:13:22.5115115+07:00\"\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        736
      ],
      "id": "d813da5b-82c6-4cb6-bea7-e4fa015adb82",
      "name": "Tồn kho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77775875-fff9-4792-9778-a8f2d4deb7d4",
              "name": "Amis_data.inventory_item_id",
              "value": "={{ $json.inventory_item_id }}",
              "type": "string"
            },
            {
              "id": "6a315617-d1c9-4320-b851-e3dcc5207b4b",
              "name": "Amis_data.inventory_item_code",
              "value": "={{ $json.inventory_item_code }}",
              "type": "string"
            },
            {
              "id": "2b720bc6-df57-45e9-8b59-4fd90e51280a",
              "name": "Amis_data.inventory_item_name",
              "value": "={{ $json.inventory_item_name }}",
              "type": "string"
            },
            {
              "id": "5494091e-aca5-40e0-9955-a8f3b75ac57c",
              "name": "Amis_data.stock_id",
              "value": "={{ $json.stock_id }}",
              "type": "string"
            },
            {
              "id": "d9693dd3-9647-432d-8556-f8265bf66ebd",
              "name": "Amis_data.stock_code",
              "value": "={{ $json.stock_code }}",
              "type": "string"
            },
            {
              "id": "1506db61-ab11-42f4-9a3b-739766372e69",
              "name": "Amis_data.stock_name",
              "value": "={{ $json.stock_name }}",
              "type": "string"
            },
            {
              "id": "fff35456-561d-47b9-be53-00814b6dc1dd",
              "name": "Amis_data.organization_unit_id",
              "value": "={{ $json.organization_unit_id }}",
              "type": "string"
            },
            {
              "id": "7a92c65e-c21f-4650-a404-b19c9a06e8a5",
              "name": "Amis_data.organization_unit_code",
              "value": "={{ $json.organization_unit_code }}",
              "type": "string"
            },
            {
              "id": "f280613f-d0b1-4848-b429-cf13e83ce5b4",
              "name": "Amis_data.organization_unit_name",
              "value": "={{ $json.organization_unit_name }}",
              "type": "string"
            },
            {
              "id": "b6535bbd-5f3a-4a22-8432-9daedd6a472e",
              "name": "Amis_data.quantity_balance",
              "value": "={{ $json.quantity_balance }}",
              "type": "string"
            },
            {
              "id": "1a93794d-3910-404b-bda1-598c391a59f6",
              "name": "Amis_data.amount_balance",
              "value": "={{ $json.amount_balance }}",
              "type": "string"
            },
            {
              "id": "8bcd37dd-fc1f-40da-95fc-5546b7871e3b",
              "name": "Amis_data.unit_price",
              "value": "={{ $json.unit_price }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cb5f4526-9659-4c8d-86f2-d619015c78b5",
      "name": "Normalize data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a72ffec19c78d02f",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "9AE5c8mjNvNnzZAdJ7z9dfvqYbHlLqoN",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        672
      ],
      "id": "e808bd4a-c6a0-4f04-9a60-df489db0eb78",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_list_inventory_balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"org_company_code\": \"congtydemoketnoiact\",\n                        \"stock_id\": null,\n                        \"branch_id\": null,\n                        \"skip\": \"0\",\n                        \"take\": \"900\",\n                        \"last_sync_time\": \"2024-12-09T09:13:22.5115115+07:00\"\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        512
      ],
      "id": "1544934b-b85a-4e8d-84dc-f81cdff31ae1",
      "name": "Tồn kho1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Rv08LuDXka0jKvYK",
          "mode": "list",
          "cachedResultName": "Data nhà cung cấp",
          "cachedResultUrl": "/projects/HmG9Xuclf9YeLvw5/datatables/Rv08LuDXka0jKvYK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Code",
              "displayName": "Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adress",
              "displayName": "Adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tax_code",
              "displayName": "Tax_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2240,
        -208
      ],
      "id": "ed43c5e8-5a36-4ea8-a13e-bb61e485f41c",
      "name": "Insert row"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48db3296-1982-46f3-aae7-144ea5c65fee",
              "name": "token_amis_1",
              "value": "M58cSvah08ID0xMta6OH+cAUmmI3clQ9eTatsgZoA4DaxPmXZbY/Uun4IXuEq2HBnZf+C+gbEiFNpJhmPwRmTTAtxFDdzZUYNJL/jwQzYelsR10Jut2It/usXB7dk1djdMIIWl6j5V5ipY2g96g2ZwGdYoCKIpXGFNwgsJelC5N164K4JEN0gwrgxvhflWW/vRVJJTpY8C9jNhUU4RJeFF3KOaithzauBz+n8Sy6MdV9MqX3m9T90vkLjBT90QHe3gkPC2p7Sm4dOblftiXVBA==",
              "type": "string"
            },
            {
              "id": "9f0ed906-1bd5-4dc0-adb1-7e0440163c7e",
              "name": "token_amis_2",
              "value": "Mty3freTwgSy0BHrSTTGCE6rD89RzYx0gzpZMgGD6bRBs75eHjzKJGzxstf753Do5zM42mWo3vd2iw7NxMubvJEEPkrzUd74F8K2kd8y125aRPPieENOjhOc1yjo3LL71Z1T2SkXb7bxX8adOxL6JnZqqPqNWDqkAuCWc+kfVEGJxg1xBuOsivbOtZS5uwVG3YcmFFKLysbVk1t6hoa7VE4J81M8mlDGWu0SMMnMqvbsvInUccOn0d2FINHxElitV6tPWtf24NSY6jsKqUMjlw==",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        0
      ],
      "id": "0c03c902-aa3e-4196-ad49-abcd59f422c8",
      "name": "Token amis"
    },
    {
      "parameters": {
        "jsCode": "// items là mảng input [{ token_amis_1: \"...\" }, { token_amis_2: \"...\" }]\nconst merged = Object.assign({}, ...items.map(i => i.json));\n\n// Đưa nó vô 1 object cha tên là \"token\"\nreturn [{\n  json: {\n    token: merged\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        384
      ],
      "id": "ff75be0c-ed5f-4998-9bf2-7cda4732a26f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/api/oauth/actopen/connect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=                        {\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"access_code\": \"{{ $json.token_amis_2 }}\",\n                        \"org_company_code\": \"congtydemoketnoiact\"\n                        } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        96
      ],
      "id": "bab61cb4-5271-4308-852e-abfe2752b9b3",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 1 ,\n                        \"branch_id\": \"db8550da-2fe4-4970-8758-d92e78e2ddd0\",\n                        \"skip\": 0,\n                        \"take\": 1000,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": \"2000-01-25 14:15:02\"\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        96
      ],
      "id": "fb8f9783-aa01-4d8a-aea3-ae8528fbb6aa",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON string\nconst raw = $json[\"Data\"];\nconst parsed = JSON.parse(raw);\n\n// Trả về mỗi object là một item mới\nreturn parsed.map(item => {\n  return {\n    json: item\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        96
      ],
      "id": "f0d0488a-c4f1-43db-959a-838c723cb61f",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a7f1cfbe36b81010",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        96
      ],
      "id": "15ca71a7-bb07-4efd-9f92-1f187dfa3e6e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77775875-fff9-4792-9778-a8f2d4deb7d4",
              "name": "Amis_data.code",
              "value": "={{ $json.account_object_code }}",
              "type": "string"
            },
            {
              "id": "6a315617-d1c9-4320-b851-e3dcc5207b4b",
              "name": "Amis_data.name",
              "value": "={{ $json.account_object_name }}",
              "type": "string"
            },
            {
              "id": "2b720bc6-df57-45e9-8b59-4fd90e51280a",
              "name": "Amis_data.address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "5494091e-aca5-40e0-9955-a8f3b75ac57c",
              "name": "Amis_data.tax_code",
              "value": "={{ $json.company_tax_code }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9b9b827d-6c43-4b35-830b-a1c4d5ddd916",
      "name": "Normalize data2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        96
      ],
      "id": "77c843ac-a5b5-42a9-8abd-31bd5e8831ee",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2688,
        112
      ],
      "id": "10068a31-4a72-4f8b-b932-7ff5256a32c8",
      "name": "Wait",
      "webhookId": "2db19d3e-fb49-4ba8-a108-457a6f9edb23"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1744,
        96
      ],
      "id": "40641b8c-7849-434e-a87a-f456bf08abd1",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Rv08LuDXka0jKvYK",
          "mode": "list",
          "cachedResultName": "Data nhà cung cấp",
          "cachedResultUrl": "/projects/HmG9Xuclf9YeLvw5/datatables/Rv08LuDXka0jKvYK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Code": "={{ $('Normalize data2').item.json.account_object_code }}",
            "Tax_code": "={{ $('Normalize data2').item.json.company_tax_code }}",
            "Adress": "={{ $('Normalize data2').item.json.address }}",
            "Name": "={{ $('Normalize data2').item.json.account_object_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Code",
              "displayName": "Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adress",
              "displayName": "Adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tax_code",
              "displayName": "Tax_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2240,
        112
      ],
      "id": "31cc8bd4-fa9a-4cf0-bd96-fc41bbffcd30",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "jsCode": "// Chạy cho từng item\nreturn items.map(item => {\n  const rawData = item.json[\"Data\"]; // Lấy chuỗi JSON từ trường Data\n  const parsed = JSON.parse(rawData); // Parse chuỗi JSON thành object\n\n  return {\n    json: parsed // Trả về object đã parse\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -224
      ],
      "id": "494f1f0d-23cd-40f1-892c-dc513d221d90",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Chạy cho từng item\nreturn items.map(item => {\n  const rawData = item.json[\"Data\"]; // Lấy chuỗi JSON từ trường Data\n  const parsed = JSON.parse(rawData); // Parse chuỗi JSON thành object\n\n  return {\n    json: parsed // Trả về object đã parse\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        112
      ],
      "id": "27de5ff7-cf43-4f49-a77c-8d972c735b45",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-15T17:47:48.301Z",
      "createdAt": "2025-10-15T17:47:48.301Z",
      "role": "workflow:owner",
      "workflowId": "B2TQTjktFsplOLMR",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T18:01:13.000Z",
  "versionId": "faba9ee9-4905-46eb-a9f3-4479ede81d5f"
}