n8n_flow_backupsdcv9UYxzyX9vKci.json
{
  "active": false,
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy token app": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lấy token app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-06T09:30:32.841Z",
  "id": "sdcv9UYxzyX9vKci",
  "isArchived": true,
  "meta": null,
  "name": "lấy data ad token 1h",
  "nodes": [
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json['<BUSINESS_ID>'] }}/owned_ad_accounts?fields=name,account_id&access_token={{ $json['<ACCESS_TOKEN>'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "2cb0b2c2-4a98-49b7-b18a-8a77ecd8f978",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.data[2].id }}/insights?fields=campaign_name,adset_name,ad_name,impressions,clicks,spend,frequency,cpc,cpm,reach&level=ad&time_range={\"since\":\"2024-01-01\",\"until\":\"2025-05-05\"}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Lấy token app').item.json['<ACCESS_TOKEN>'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "a85b62a2-ae95-4cb2-84df-0975a0486fb6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3cddfb-0644-463a-b573-c119185f7d5c",
              "name": "<BUSINESS_ID>",
              "value": "1937407066269295",
              "type": "string"
            },
            {
              "id": "c612507d-3786-485f-99dd-f3af985bdf05",
              "name": "<ACCESS_TOKEN>",
              "value": "EAAIiGZBltc0wBO67hgZC2qZBCdLRhwohAZA1dUoxYM2iMbkces0XCWohILUISdiWKddcPyZCg0HoK8FW4gVtR2EynMwCMUvSkZBptwNtoXhH8hMPm2oW8DkW4ZButaZBVw7XYAZAqZCQ5OVyjp7a4HbZCOBpCBlJWRLrkXuzEyFLtxLtCZCZBfUEmL1BoeSOC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "3a740848-ed8c-4190-a0dd-0700003e01b0",
      "name": "Lấy token app"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6f58b9c1-a1d9-4b58-9044-585d93eb9864",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T04:35:52.000Z",
  "versionId": "f4d5bdb9-31b5-4ea8-9a4a-86edd429b13f"
}