n8n_flow_backupJbe4Z5huKHZeyF0B.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-05T04:14:55.576Z",
  "id": "Jbe4Z5huKHZeyF0B",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 20",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Dw6HnNCmc_65nsLwgdIHeAe5QNCgL7J1",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "4a16c186-8f9f-4bcb-87d9-c27f3c964369",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        100,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AjNwXeFt6clYXdfz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4fd733d3-d393-4aea-bc25-c1e8bda32b54",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "8bb52e26-6243-40b6-9a7f-9e53d003a85a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        0
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "name": "inline",
              "value": "true"
            },
            {
              "name": "async",
              "value": false
            },
            {
              "name": "unwrap"
            },
            {
              "name": "pages",
              "value": "0-"
            },
            {
              "name": "rect"
            },
            {
              "name": "async",
              "value": "false"
            },
            {
              "name": "name",
              "value": "result.csv"
            },
            {
              "name": "password"
            },
            {
              "name": "lineGrouping"
            },
            {
              "name": "profiles"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "84dbc5e0-7196-4ee7-8982-51831adb38cb",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        580,
        -20
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9EMi70c6UfrpGrj",
          "name": "perplexity"
        }
      }
    },
    {
      "parameters": {
        "name": "sample.html",
        "driveId": {
          "__rl": true,
          "value": "1Dw6HnNCmc_65nsLwgdIHeAe5QNCgL7J1",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1Dw6HnNCmc_65nsLwgdIHeAe5QNCgL7J1",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a60500d1-98ec-449a-8023-6343e1315822",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1180,
        -20
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AjNwXeFt6clYXdfz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert the HTML string to a Buffer\nconst buffer = Buffer.from($json.body, 'utf-8');\n\n// Return the buffer as binary data\nreturn [\n  {\n    binary: {\n      data: {\n        data: buffer.toString('base64'), // Convert buffer to base64 string\n        mimeType: 'text/html',\n        fileName: 'sample.html'\n      }\n    }\n  }\n];\n"
      },
      "id": "78c3306f-0ce1-4353-8917-ac97aaf7179c",
      "name": "Convert to Binary File",
      "type": "n8n-nodes-base.code",
      "position": [
        880,
        -20
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Automated PDF to HTML Conversion\n",
        "height": 280,
        "width": 1340
      },
      "id": "ae8cfd5d-85fb-4125-8c89-f84797f9220e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Description: \nThis n8n workflow automates the process of converting a newly stored PDF file from Google Drive into an HTML file and saving it back to Google Drive. The workflow is triggered whenever a new PDF is uploaded to a specific folder, ensuring seamless conversion and storage without any manual intervention.\n\nThis workflow provides an efficient, automated solution for converting PDFs to HTML, eliminating the need for manual file handling and ensuring a smooth document transformation process. It is particularly useful for scenarios where PDFs need to be dynamically converted and stored in an organized manner for web usage, archiving, or further processing.\n\n",
        "height": 180,
        "width": 1340
      },
      "id": "c39c69e2-e581-422c-ab31-8d060f003782",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        200
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T04:33:53.000Z",
  "versionId": "a851e435-e2e7-4d50-b38a-50997f204e94"
}