n8n_flow_backup6TAkqzktDXRI2yrt.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAllDataset": {
      "main": [
        [
          {
            "node": "generate_dataset_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getAllDataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update finish": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_error": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If_6AM-11PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_6AM-11PM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "get_order_need_sync1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_dataset_data1": {
      "main": [
        [
          {
            "node": "cập nhật dataset purchase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cập nhật dataset purchase1": {
      "main": [
        [
          {
            "node": "update finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_order_need_sync1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-04T07:48:31.678Z",
  "id": "6TAkqzktDXRI2yrt",
  "isArchived": false,
  "meta": null,
  "name": "Dong bo chuyen doi don hang - 3 thang push 2 thang - ko attribution",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        368
      ],
      "id": "69d69464-00d9-4ebc-978f-f8f0de454ca3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "databaseId": 330300,
        "tableId": 758235,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6414733,
                "operator": "link_row_has",
                "value": "={{ $json.Web[0].id }}"
              },
              {
                "field": 6414684,
                "value": "={{ true }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        480,
        192
      ],
      "id": "eae5d3ae-ec38-4895-8bfa-8da8144c3ad8",
      "name": "getAllDataset"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 330300,
        "tableId": 758238,
        "rowId": "={{ $('Loop Over Items').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6428545,
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1152,
        272
      ],
      "id": "4fa3112a-ee77-4bea-ad11-34e39b29c602",
      "name": "update finish"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        272
      ],
      "id": "5b6d8c8f-fddc-4dc8-8186-94107fad603c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 330300,
        "tableId": 758238,
        "rowId": "={{ $('Loop Over Items').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6427083,
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1152,
        464
      ],
      "id": "df284bdf-8401-4394-9076-984e9b6e3e90",
      "name": "update_error"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 35
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1088,
        176
      ],
      "id": "cad4b574-e78d-499b-b8d6-998afaf5abc9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 60) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        176
      ],
      "id": "1079cff2-0828-4905-82d7-7f2c5604d270",
      "name": "Wait",
      "webhookId": "6605a7ae-8777-431d-8de7-ff89eda50d21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "94091ad8-40c2-4d4d-ad45-bb3c3ec03a80",
              "leftValue": "={{ $json.Hour }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "876c566b-bb22-49e3-b090-b987e6b294ff",
              "leftValue": "={{ $json.Hour }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        176
      ],
      "id": "d4a6857f-dfd2-41c4-9f63-ffe704be2cc9",
      "name": "If_6AM-11PM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -416,
        272
      ],
      "id": "c3f457c6-2b2c-46ea-b3ee-286c8275852b",
      "name": "start"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "f14ac853-4f5f-4762-9639-3ad3a85482d1",
      "name": "done"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U1ucqDRUBjkqX02k",
          "mode": "list",
          "cachedResultUrl": "/workflow/U1ucqDRUBjkqX02k",
          "cachedResultName": "get dataset content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "country": "={{ $('Loop Over Items').item.json['quốc gia'] }}",
            "ct": "={{ $('Loop Over Items').item.json['thành phố'] }}",
            "st": "={{ $('Loop Over Items').item.json['thành phố'] }}",
            "zp": "={{ $('Loop Over Items').item.json.zipcode }}",
            "external_id": "={{ $('Loop Over Items').item.json.phone }}",
            "ph": "=+84{{ $('Loop Over Items').item.json.phone.trim().replace(\" \", \"\").slice(-9) }}",
            "ln": "={{ $('Loop Over Items').item.json.name.split(\" \").last() }}",
            "fn": "={{ $('Loop Over Items').item.json.name.split(\" \").first() }}",
            "client_ip_address": "={{ $('Loop Over Items').item.json.ip }}",
            "client_user_agent": "={{ $('Loop Over Items').item.json.user_agent }}",
            "fbp": "={{ $('Loop Over Items').item.json.fbp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ct",
              "displayName": "ct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "st",
              "displayName": "st",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "zp",
              "displayName": "zp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "external_id",
              "displayName": "external_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ph",
              "displayName": "ph",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "em",
              "displayName": "em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ln",
              "displayName": "ln",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fn",
              "displayName": "fn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_ip_address",
              "displayName": "client_ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_user_agent",
              "displayName": "client_user_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fbp",
              "displayName": "fbp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        704,
        192
      ],
      "name": "generate_dataset_data1",
      "id": "220457cf-c39b-4918-9dc5-6282e90fc5d5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('getAllDataset').item.json.id_dataset }}/events?access_token={{ $('getAllDataset').item.json.token_dataset }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": [\n        {\n            \"event_name\": \"Purchase\",\n            \"event_time\": \"{{Math.floor(Date.now() / 1000)}}\",\n            \"action_source\": \"website\",\n            \"user_data\": {{ $json.data_hashed.toJsonString() }},\n              \"custom_data\": {\n                \"currency\": \"VND\",\n                \"value\": {{ $('Loop Over Items').item.json.money }},\n                \"order_id\":\"{{ $('Loop Over Items').item.json['pancake order id'] }}\",\n                \"address\":\"{{ $('Loop Over Items').item.json['địa chỉ'] }}, {{ $('Loop Over Items').item.json['phường xã'] }},{{ $('Loop Over Items').item.json['quận huyện'] }}, {{ $('Loop Over Items').item.json['thành phố'] }}\",\n                \"link_lading_page\": \"{{ $('Loop Over Items').item.json['link landigpage'] }}\",\n                \"content_type\":\"product\"\n          }\n        }\n    ]\n}",
        "options": {}
      },
      "id": "1a1744de-a9af-4e25-8900-4cbdb9d56063",
      "name": "cập nhật dataset purchase1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        192
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        32,
        272
      ],
      "id": "7b7f8dc2-c658-4efd-82f5-158870897867",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://api.baserow.io/api/database/rows/table/758238/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_field_names",
              "value": "true"
            },
            {
              "name": "view_id",
              "value": "1466843"
            },
            {
              "name": "size",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        272
      ],
      "id": "e788f660-f37a-4cf2-8955-f50977975fed",
      "name": "get_order_need_sync1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9EMi70c6UfrpGrj",
          "name": "perplexity"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-04T07:48:31.688Z",
      "createdAt": "2025-12-04T07:48:31.688Z",
      "role": "workflow:owner",
      "workflowId": "6TAkqzktDXRI2yrt",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T07:52:05.000Z",
  "versionId": "a33d3af4-156e-4e8d-90f6-6c1920e187fc"
}