n8n_flow_backupJIRM7pCtHa4AE0J2.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-20T17:58:04.000Z",
    "createdAt": "2026-01-20T17:57:56.216Z",
    "versionId": "5cccf34e-8cff-4a4a-a31f-ac4873391d10",
    "workflowId": "JIRM7pCtHa4AE0J2",
    "nodes": [
      {
        "parameters": {
          "page": {
            "__rl": true,
            "value": "105716750779653",
            "mode": "list",
            "cachedResultName": "Hebekery - Health & Beauty Foods",
            "cachedResultUrl": "https://facebook.com/105716750779653"
          },
          "form": {
            "__rl": true,
            "value": "1968566227036050",
            "mode": "list",
            "cachedResultName": "Leads form quà Tết 2026"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.facebookLeadAdsTrigger",
        "typeVersion": 1,
        "position": [
          -1360,
          -48
        ],
        "id": "be2ad67f-2c2c-4279-b912-334c1659110b",
        "name": "Facebook Lead Ads Trigger",
        "webhookId": "b996a26b-1fc5-47af-b317-b75a153c41e4",
        "credentials": {
          "facebookLeadAdsOAuth2Api": {
            "id": "T44Ghan3QKQkmmTB",
            "name": "Hebe_Lead_Form_2026"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bf90a38d-7a4a-46fc-8730-9e25a38f2a89",
                "name": "Số_lượng_quà",
                "value": "={{ $json.data['số_lượng_quà_tết_bạn_sẽ_đặt'] }}",
                "type": "string"
              },
              {
                "id": "b9eafe6b-9e41-4b7d-8dae-75c810f45566",
                "name": "Số_Điện_thoại",
                "value": "={{ $json.data['số_điện_thoại'] }}",
                "type": "string"
              },
              {
                "id": "e8a857c5-1e79-42e9-aeed-f4c4bc854d90",
                "name": "Email",
                "value": "={{ $json.data.email }}",
                "type": "string"
              },
              {
                "id": "bcde7bc8-9f7b-4353-bbe3-0767e86cd07c",
                "name": "Khách_note",
                "value": "={{ $json.data['để_lại_lời_nhắn'] }}",
                "type": "string"
              },
              {
                "id": "7569fd2c-c228-4bdf-90a9-13a6aac15112",
                "name": "Tên_khách",
                "value": "={{ $json.data['full name'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1088,
          -48
        ],
        "id": "b8413b9d-ef05-401c-b7d0-24fc2db3d4ae",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "app_id",
                "value": "={{ $json.app_id }}"
              },
              {
                "name": "app_secret",
                "value": "={{ $json.app_scret }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n    \"app_id\": \"cli_a72ffec19c78d02f\",\n    \"app_secret\": \"9AE5c8mjNvNnzZAdJ7z9dfvqYbHlLqoN\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -848,
          -48
        ],
        "id": "161b4a72-ebf5-4bb3-ae8b-54e1a7c9330e",
        "name": "Create token1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/FEE8bqq5UakNymsT1Vclhv5mggf/tables/tblhAHRXLJHoI9J2/records",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "=Authorization",
                "value": "=Bearer {{ $json.tenant_access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"fields\": {\n    \"Số_lượng_quà\": \"{{ $('Edit Fields').item.json['Số_lượng_quà'].toString() }}\",\n    \"Số_Điện_thoại\": \"{{ $('Edit Fields').item.json['Số_Điện_thoại'].toString() }}\",\n    \"Email\": \"{{ $('Edit Fields').item.json.Email.toString() }}\",\n    \"Tên_khách\": \"{{ $('Edit Fields').item.json.Tên_khách.toString() }}\",\n    \"Khách_note\": \"{{ $('Edit Fields').item.json['Khách_note'].toString() }}\"\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -560,
          -48
        ],
        "id": "d0567bce-b75a-45d4-b022-3fb4362025a0",
        "name": "Creates records lark"
      }
    ],
    "connections": {
      "Facebook Lead Ads Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Create token1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create token1": {
        "main": [
          [
            {
              "node": "Creates records lark",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Trịnh Đình Duy",
    "name": "Version 5cccf34e",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "5cccf34e-8cff-4a4a-a31f-ac4873391d10",
  "connections": {
    "Facebook Lead Ads Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create token1": {
      "main": [
        [
          {
            "node": "Creates records lark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-24T05:16:37.386Z",
  "id": "JIRM7pCtHa4AE0J2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "New_lead_form_to_base_2026",
  "nodes": [
    {
      "parameters": {
        "page": {
          "__rl": true,
          "value": "105716750779653",
          "mode": "list",
          "cachedResultName": "Hebekery - Health & Beauty Foods",
          "cachedResultUrl": "https://facebook.com/105716750779653"
        },
        "form": {
          "__rl": true,
          "value": "1968566227036050",
          "mode": "list",
          "cachedResultName": "Leads form quà Tết 2026"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.facebookLeadAdsTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        -48
      ],
      "id": "be2ad67f-2c2c-4279-b912-334c1659110b",
      "name": "Facebook Lead Ads Trigger",
      "webhookId": "b996a26b-1fc5-47af-b317-b75a153c41e4",
      "credentials": {
        "facebookLeadAdsOAuth2Api": {
          "id": "T44Ghan3QKQkmmTB",
          "name": "Hebe_Lead_Form_2026"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf90a38d-7a4a-46fc-8730-9e25a38f2a89",
              "name": "Số_lượng_quà",
              "value": "={{ $json.data['số_lượng_quà_tết_bạn_sẽ_đặt'] }}",
              "type": "string"
            },
            {
              "id": "b9eafe6b-9e41-4b7d-8dae-75c810f45566",
              "name": "Số_Điện_thoại",
              "value": "={{ $json.data.phone_number }}",
              "type": "string"
            },
            {
              "id": "e8a857c5-1e79-42e9-aeed-f4c4bc854d90",
              "name": "Email",
              "value": "={{ $json.data.email }}",
              "type": "string"
            },
            {
              "id": "bcde7bc8-9f7b-4353-bbe3-0767e86cd07c",
              "name": "Khách_note",
              "value": "={{ $json.data['để_lại_lời_nhắn'] }}",
              "type": "string"
            },
            {
              "id": "7569fd2c-c228-4bdf-90a9-13a6aac15112",
              "name": "Tên_khách",
              "value": "={{ $json.data['full name'] }}",
              "type": "string"
            },
            {
              "id": "3ebeaafa-e0d9-4053-9aae-f8394538a020",
              "name": "ad_id",
              "value": "={{ $json.ad.id }}",
              "type": "string"
            },
            {
              "id": "a8d10839-4d1f-4f11-bfcf-d8545cef9b40",
              "name": "ad_name",
              "value": "={{ $json.ad.name }}",
              "type": "string"
            },
            {
              "id": "2cddf52c-4e36-48ed-b1d5-b1fa64715787",
              "name": "ad.name",
              "value": "={{ $json.ad.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -48
      ],
      "id": "b8413b9d-ef05-401c-b7d0-24fc2db3d4ae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "app_secret",
              "value": "={{ $json.app_scret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a72ffec19c78d02f\",\n    \"app_secret\": \"9AE5c8mjNvNnzZAdJ7z9dfvqYbHlLqoN\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        -48
      ],
      "id": "161b4a72-ebf5-4bb3-ae8b-54e1a7c9330e",
      "name": "Create token1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/FEE8bqq5UakNymsT1Vclhv5mggf/tables/tblhAHRXLJHoI9J2/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Số_lượng_quà\": \"{{ $('Edit Fields').item.json['Số_lượng_quà'].toString() }}\",\n    \"Số_Điện_thoại\": \"{{ $('Edit Fields').item.json['Số_Điện_thoại'].toString() }}\",\n    \"Email\": \"{{ $('Edit Fields').item.json.Email.toString() }}\",\n    \"Tên_khách\": \"{{ $('Edit Fields').item.json.Tên_khách.toString() }}\",\n    \"Khách_note\": \"{{ $('Edit Fields').item.json['Khách_note'].toString() }}\",\n    \"Ads_ID\": \"{{ $('Edit Fields').item.json['ad_id'].toString() }}\",\n    \"Ads_name\": \"{{ $('Edit Fields').item.json.ad_name.toString() }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -48
      ],
      "id": "d0567bce-b75a-45d4-b022-3fb4362025a0",
      "name": "Creates records lark"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-24T05:16:37.392Z",
      "createdAt": "2025-12-24T05:16:37.392Z",
      "role": "workflow:owner",
      "workflowId": "JIRM7pCtHa4AE0J2",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-21T08:30:05.372Z",
  "versionId": "26c021d9-d4ef-49b2-81e3-343f761d36cd"
}