n8n_flow_backupOZO-_Ch6ZiYtcNguIWi6D.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "ID BM": {
      "main": [
        [
          {
            "node": "Token dài hạn đúng không",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bm & token": {
      "main": [
        [
          {
            "node": "ID BM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token dài hạn đúng không": {
      "main": [
        [
          {
            "node": "Generate Monthly Ranges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy ìnor app & token shorrt meta": {
      "main": [
        [
          {
            "node": "Bm & token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ads Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Monthly Ranges": {
      "main": [
        [
          {
            "node": "Fetch Ads Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create token1": {
      "main": [
        [
          {
            "node": "Creates records lark1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Lấy ìnor app & token shorrt meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_lark_token": {
      "main": [
        [
          {
            "node": "Update_tokem mới",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create token": {
      "main": [
        [
          {
            "node": "Creates records lark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_lark_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-27T09:26:07.887Z",
  "id": "OZO-_Ch6ZiYtcNguIWi6D",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 43",
  "nodes": [
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $('Bm & token').item.json['<BUSINESS_ID>'] }}/owned_ad_accounts?fields=name,account_id&access_token={{ $('Lấy ìnor app & token shorrt meta').item.json.short_token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        384
      ],
      "id": "98848de7-7c72-4a79-b4a9-c3901f3d11bb",
      "name": "ID BM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3cddfb-0644-463a-b573-c119185f7d5c",
              "name": "<BUSINESS_ID>",
              "value": "1937407066269295",
              "type": "string"
            },
            {
              "id": "cbc1c925-8c82-4edf-a7c3-35c7b3b85b12",
              "name": "app_id",
              "value": "600453229146956",
              "type": "string"
            },
            {
              "id": "b1787f5d-3e42-4eda-91bd-82375339250a",
              "name": "app_secret",
              "value": "6f1e40629b6e123e5f0491ff9f3f6a81",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        656
      ],
      "id": "f6dc4ce5-4ec5-4b8b-8204-7274c3165474",
      "name": "Bm & token"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "={{ $('Bm & token').item.json.app_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Bm & token').item.json.app_secret }}"
            },
            {
              "name": "fb_exchange_token",
              "value": "={{ $('Lấy ìnor app & token shorrt meta').item.json.short_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        672
      ],
      "id": "1ebc10a2-d612-4bd4-bf20-60535c7a96d0",
      "name": "Token dài hạn đúng không"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77775875-fff9-4792-9778-a8f2d4deb7d4",
              "name": "Meta_ads_data.camp",
              "value": "={{ $json.campaign_name }}",
              "type": "string"
            },
            {
              "id": "6a315617-d1c9-4320-b851-e3dcc5207b4b",
              "name": "Meta_ads_data.adset",
              "value": "={{ $json.adset_name }}",
              "type": "string"
            },
            {
              "id": "65d1994d-f4b8-478a-8cf1-490990e6639d",
              "name": "Meta_ads_data.ad",
              "value": "={{ $json.ad_name }}",
              "type": "string"
            },
            {
              "id": "61bc8b24-0976-448d-9c2e-e648127a27e3",
              "name": "Meta_ads_data.clicks",
              "value": "={{ $json.clicks }}",
              "type": "string"
            },
            {
              "id": "e4a932a1-41a2-4062-b8ae-7524c9b17635",
              "name": "Meta_ads_data.spend",
              "value": "={{ $json.spend }}",
              "type": "string"
            },
            {
              "id": "81d74014-2803-44fe-8e35-ce584f3b9d3e",
              "name": "Meta_ads_data.frequency",
              "value": "={{ $('Fetch Ads Data').item.json.data[0].frequency }}",
              "type": "string"
            },
            {
              "id": "7cc2a725-79c5-41b8-b0ca-29270bf8c3c2",
              "name": "Meta_ads_data.cpc",
              "value": "={{ $('Fetch Ads Data').item.json.data[0].cpc }}",
              "type": "string"
            },
            {
              "id": "ec9d6551-eeb4-4be3-8f0b-0241b7141b12",
              "name": "Meta_ads_data.cpm",
              "value": "={{ $('Fetch Ads Data').item.json.data[0].cpm }}",
              "type": "string"
            },
            {
              "id": "75d55059-d495-4470-b964-7c0a68f336ad",
              "name": "Meta_ads_data.reach",
              "value": "={{ $('Fetch Ads Data').item.json.data[0].reach }}",
              "type": "string"
            },
            {
              "id": "2b720bc6-df57-45e9-8b59-4fd90e51280a",
              "name": "Meta_ads_data.start",
              "value": "={{ $json.date_start }}",
              "type": "string"
            },
            {
              "id": "5494091e-aca5-40e0-9955-a8f3b75ac57c",
              "name": "Meta_ads_data.stop",
              "value": "={{ $json.date_stop }}",
              "type": "string"
            },
            {
              "id": "d22336c5-45bd-4289-b557-2a72551ee82c",
              "name": "Meta_ads_data.total_messaging_connection",
              "value": "={{ $json.actions[0].value }}",
              "type": "string"
            },
            {
              "id": "d2e953ec-b3d3-40c0-bdba-8a5299070578",
              "name": "Meta_ads_data.page_engagement",
              "value": "={{ $json.actions[1].value }}",
              "type": "string"
            },
            {
              "id": "3787790a-a1b8-4c5e-bfca-7eae5391c577",
              "name": "Meta_ads_data.post_engagement",
              "value": "={{ $json.actions[2].value }}",
              "type": "string"
            },
            {
              "id": "96f72f12-c8e0-463b-b2e6-cefdf9e99c0e",
              "name": "Meta_ads_data.comment",
              "value": "={{ $json.actions[3].value }}",
              "type": "string"
            },
            {
              "id": "b33a74c5-3b22-4813-b5ec-719ed2c88ecc",
              "name": "Meta_ads_data.messaging_first_reply",
              "value": "={{ $json.actions[4].value }}",
              "type": "string"
            },
            {
              "id": "de4c28be-4654-49b3-bb91-85f8e0a0a8ae",
              "name": "Meta_ads_data.messaging_welcome_message_view",
              "value": "={{ $json.actions[6].value }}",
              "type": "string"
            },
            {
              "id": "373132b4-30b9-43b8-86b4-8ff31c3eb4b7",
              "name": "Meta_ads_data.like",
              "value": "={{ $json.actions[7].value }}",
              "type": "string"
            },
            {
              "id": "2d375945-49c8-43fd-ac7d-af4be44ddec3",
              "name": "Meta_ads_data.impressions",
              "value": "={{ $json.impressions }}",
              "type": "string"
            },
            {
              "id": "ecaf09cf-7485-4c1b-b1af-a4c7e9c1a504",
              "name": "Date_start",
              "value": "={{ $json.date_start }}",
              "type": "string"
            },
            {
              "id": "0d6c39da-3f9e-4f23-9c1b-3f60a6d6b144",
              "name": "Date_stop",
              "value": "={{ $json.date_stop }}",
              "type": "string"
            },
            {
              "id": "d87ad9b3-9884-43b3-8b29-89cb75e32b94",
              "name": "result",
              "value": "={{ $json.actions[12].value }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "user_data.name",
        "options": {}
      },
      "id": "641dd234-e55f-4e0b-a0e1-d9dbf084cc9b",
      "name": "Normalize data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        304
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        304
      ],
      "id": "d2478e78-7bc5-4512-89fa-196479bcf623",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbc1c925-8c82-4edf-a7c3-35c7b3b85b12",
              "name": "app_id",
              "value": "600453229146956",
              "type": "string"
            },
            {
              "id": "b1787f5d-3e42-4eda-91bd-82375339250a",
              "name": "app_secret",
              "value": "6f1e40629b6e123e5f0491ff9f3f6a81",
              "type": "string"
            },
            {
              "id": "290a0e7e-2b5d-4af1-9d11-8ef1ef42dccb",
              "name": "short_token",
              "value": "={{ $json.query.Short_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1936,
        384
      ],
      "id": "a83cccf5-f64b-4294-a07c-a7e9b8f825b8",
      "name": "Lấy ìnor app & token shorrt meta"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $('ID BM').item.json.data[1].id }}/insights?fields=campaign_name,adset_name,ad_name,impressions,clicks,spend,frequency,cpc,cpm,reach&level=ad&time_range={\"since\":\"2026-02-20\",\"until\":\"2026-02-20\"}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Token dài hạn đúng không').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        304
      ],
      "id": "9b9604b9-615a-4543-ab85-193e18217ef5",
      "name": "Fetch Ads Data"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Ho_Chi_Minh\" }));\nnow.setDate(now.getDate() -1 ); // 🔥 Lùi lại 1 ngày tùy setup\n\nconst date = now.toISOString().split('T')[0];\n\nreturn [{ json: { timestamp: date } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        384
      ],
      "id": "3725be94-2302-4c71-83c6-1f39c1c6391c",
      "name": "Generate Monthly Ranges"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/act_2883772628427159/insights?fields=campaign_name,adset_name,ad_name,impressions,clicks,spend,actions,action_values&level=ad&time_range={'since':'2026-02-20','until':'2026-02-20'}&access_token={{ $('Token dài hạn đúng không').item.json.access_token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        304
      ],
      "id": "88ebd59e-7834-4aff-b79d-c759c1162950",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a7f1cfbe36b81010",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        624
      ],
      "id": "049c6700-f3bd-4c41-8421-22a83b07d415",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "user_data.name",
        "options": {}
      },
      "id": "b82f20d6-d566-4391-beec-bbdd00ccdf95",
      "name": "Normalize data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        624
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -976,
        608
      ],
      "id": "d1b852d8-0d82-4b6b-a881-f32da8d26592",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/OpeLbegRjakQ23sc4gmlL6zLgZf/tables/tblxmSIipWUFxyNo/records/batch_update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"total_messaging_connection\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.total_messaging_connection || 0) }},\n    \"page_engagement\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.page_engagement || 0) }},\n    \"post_engagement\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.post_engagement || 0) }},\n    \"comment\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.comment || 0) }},\n    \"messaging_first_reply\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.messaging_first_reply || 0) }},\n    \"messaging_user_depth_3_message_send\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.messaging_user_depth_3_message_send || 0) }},\n    \"messaging_welcome_message_view\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.messaging_welcome_message_view || 0) }},\n    \"like\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.like || 0) }},\n    \"messaging_conversation_replied_7d\": {{ Number($(\"Normalize data1\").item.json.Meta_ads_data.messaging_conversation_replied_7d || 0) }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        656
      ],
      "id": "37939d26-0744-49ca-84b9-16d82c3dedf9",
      "name": "Creates records lark1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "app_secret",
              "value": "={{ $json.app_scret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"app_id\": \"{{ $json.app_id }}\",\n    \"app_secret\": \"{{ $json.app_scret }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        624
      ],
      "id": "695fe0c8-0d0d-48a8-b892-794fb334758e",
      "name": "Create token1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Ho_Chi_Minh\" }));\nnow.setDate(now.getDate() -1 ); // 🔥 Lùi lại 1 ngày tùy setup\n\nconst date = now.toISOString().split('T')[0];\n\nreturn [{ json: { timestamp: date } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        736
      ],
      "id": "a7122781-9e9a-4818-9861-84e81aef4fa5",
      "name": "Generate Monthly Ranges1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ac4651a0-8998-4f8f-8c1a-89667f3d9c83",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2208,
        240
      ],
      "id": "4fe5aada-e02b-4a88-ad79-b42883c58cc0",
      "name": "Webhook",
      "webhookId": "ac4651a0-8998-4f8f-8c1a-89667f3d9c83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "=cli_a72ffec19c78d02f"
            },
            {
              "name": "app_secret",
              "value": "=9AE5c8mjNvNnzZAdJ7z9dfvqYbHlLqoN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"app_id\": \"cli_a72ffec19c78d02f\",\n    \"app_secret\": \"9AE5c8mjNvNnzZAdJ7z9dfvqYbHlLqoN\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        320
      ],
      "id": "f7ea92c5-476d-45cd-809f-e0853dcde449",
      "name": "Get_lark_token"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/DmEXbKWyOadOKUsJisFlICcPgPh/tables/tblBfeujWppZNdcf/records/{{ $('Webhook').item.json.query.Record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Short_token\": \"{{ $('Token dài hạn đúng không').item.json.access_token }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        288
      ],
      "id": "5a01dfc0-f4fe-4518-b522-414c28cf6568",
      "name": "Update_tokem mới"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "app_secret",
              "value": "={{ $json.app_scret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"app_id\": \"{{ $json.app_id }}\",\n    \"app_secret\": \"{{ $json.app_scret }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        32
      ],
      "id": "b79dbcd4-2b76-473e-916f-0d49accd1a34",
      "name": "Create token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/OpeLbegRjakQ23sc4gmlL6zLgZf\n/tables/tblBQ8R3R7jeuKt4/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"campaign_name\": \"{{ $('Normalize data').item.json.campaign_name }}\",\n    \"adset_name\": \"{{ $('Normalize data').item.json.adset_name }}\",\n    \"ad_name\": \"{{ $('Normalize data').item.json.ad_name }}\",\n    \n    \"impressions\": {{ Number($('Normalize data').item.json.Meta_ads_data.impressions || 0) }},\n    \"spend\": {{ Number($('Normalize data').item.json.Meta_ads_data.spend || 0) }},\n    \"frequency\": {{ Number($('Normalize data').item.json.Meta_ads_data.frequency || 0) }},\n    \"cpc\": {{ Number($('Normalize data').item.json.Meta_ads_data.cpc || 0) }},\n    \"cpm\": {{ Number($('Normalize data').item.json.Meta_ads_data.cpm || 0) }},\n    \"reach\": {{ Number($('Normalize data').item.json.Meta_ads_data.reach || 0) }},\n\n    \"total_messaging_connection\": {{ Number($('Normalize data').item.json.Meta_ads_data.total_messaging_connection || 0) }},\n    \"page_engagement\": {{ Number($('Normalize data').item.json.Meta_ads_data.page_engagement || 0) }},\n    \"post_engagement\": {{ Number($('Normalize data').item.json.Meta_ads_data.post_engagement || 0) }},\n    \"comment\": {{ Number($('Normalize data').item.json.Meta_ads_data.comment || 0) }},\n    \"messaging_first_reply\": {{ Number($('Normalize data').item.json.Meta_ads_data.messaging_first_reply || 0) }},\n    \"messaging_user_depth_3_message_send\": {{ Number($('Normalize data').item.json.Meta_ads_data.messaging_user_depth_3_message_send || 0) }},\n    \"messaging_welcome_message_view\": {{ Number($('Normalize data').item.json.Meta_ads_data.messaging_welcome_message_view || 0) }},\n    \"like\": {{ Number($('Normalize data').item.json.Meta_ads_data.like || 0) }},\n    \"messaging_conversation_replied_7d\": {{ Number($('Normalize data').item.json.Meta_ads_data.messaging_conversation_replied_7d || 0) }},\n    \"Result\": {{ Number($('Normalize data').item.json.result || 0) }},\n    \n    \"Date_start\": {{ new Date($('Normalize data').item.json.Date_start).getTime() }},\n    \"Date_stop\": {{ new Date($('Normalize data').item.json.Date_stop).getTime() }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        0
      ],
      "id": "bbcdc2c1-f8f3-44b4-acf4-385da2a63326",
      "name": "Creates records lark"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a7f1cfbe36b81010",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        304
      ],
      "id": "212c1a7b-8e08-40a3-a187-eab4748840b0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-27T09:26:07.892Z",
      "createdAt": "2026-02-27T09:26:07.892Z",
      "role": "workflow:owner",
      "workflowId": "OZO-_Ch6ZiYtcNguIWi6D",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-27T10:25:11.394Z",
  "versionId": "3e595967-02b1-4227-a3a3-0bb3dd11ee2d"
}