n8n_flow_backup0VY3DfON3TEinfPV.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T02:53:24.096Z",
    "createdAt": "2025-12-04T02:53:24.096Z",
    "versionId": "1f644911-1465-40c3-8208-ad4b21f2c762",
    "workflowId": "0VY3DfON3TEinfPV",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "536b41ba-8e9c-4ec1-8f62-59e41d7f4920",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          -928,
          368
        ],
        "credentials": {
          "openAiApi": {
            "id": "G0kYDiotLWQzJgzj",
            "name": "Duy"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
                "name": "response",
                "value": "Unable to perform task. Please try again.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4ae79f31-ff62-4ce9-ac25-bf7c75d23ecf",
        "name": "Try Again",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
                "name": "=response",
                "value": "={{$json.output}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "fa5d3418-c147-4c0f-9674-7bde51d7717b",
        "name": "Success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
          }
        },
        "id": "88b97c05-3025-4753-bd31-f868d8ea3746",
        "name": "Calendar Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -688,
          112
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "trinhdinhduy1206@gmail.com",
            "mode": "list",
            "cachedResultName": "trinhdinhduy1206@gmail.com"
          },
          "start": "={{ $fromAI(\"eventStart\") }}",
          "end": "={{ $fromAI(\"eventEnd\") }}",
          "additionalFields": {
            "attendees": [
              "={{ $fromAI(\"eventAttendeeEmail\") }}"
            ],
            "summary": "={{ $fromAI(\"eventTitle\") }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -224,
          368
        ],
        "id": "c83e7097-1b79-4362-a3a6-4f3480ab976b",
        "name": "Create Event with Attendee",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jcMyVdR2FIt6e3Ru",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "trinhdinhduy1206@gmail.com",
            "mode": "list",
            "cachedResultName": "trinhdinhduy1206@gmail.com"
          },
          "start": "={{ $fromAI(\"eventStart\") }}",
          "end": "={{ $fromAI(\"eventEnd\") }}",
          "additionalFields": {
            "attendees": [],
            "summary": "={{ $fromAI(\"eventTitle\") }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -368,
          464
        ],
        "id": "b2ffaea0-c44b-4709-a525-f1a386b013fd",
        "name": "Create Event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jcMyVdR2FIt6e3Ru",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "trinhdinhduy1206@gmail.com",
            "mode": "list",
            "cachedResultName": "trinhdinhduy1206@gmail.com"
          },
          "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
          "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -496,
          512
        ],
        "id": "e91aa9b4-a36e-4e37-8c7c-1b0434934e27",
        "name": "Get Events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jcMyVdR2FIt6e3Ru",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "trinhdinhduy1206@gmail.com",
            "mode": "list",
            "cachedResultName": "trinhdinhduy1206@gmail.com"
          },
          "eventId": "={{ $fromAI(\"eventID\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -640,
          480
        ],
        "id": "aeaae362-8082-4995-ac20-ccb2272ac59d",
        "name": "Delete Event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jcMyVdR2FIt6e3Ru",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "trinhdinhduy1206@gmail.com",
            "mode": "list",
            "cachedResultName": "trinhdinhduy1206@gmail.com"
          },
          "eventId": "={{ $fromAI(\"eventID\") }}",
          "updateFields": {
            "end": "={{ $fromAI(\"endTime\") }}",
            "start": "={{ $fromAI(\"startTime\") }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -784,
          448
        ],
        "id": "926d4774-c5b2-4d3e-a4b5-23a9bd875f97",
        "name": "Update Event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jcMyVdR2FIt6e3Ru",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -928,
          112
        ],
        "id": "a83a30cb-45c2-4e0c-bdbd-ce1bb7107b28",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-pro",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -848,
          272
        ],
        "id": "b14e10ef-ba48-4f1e-a9b4-c80ca636aff8",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "DO3eNJoYSeKcYIVp",
            "name": "DUyAPI"
          }
        }
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          []
        ]
      },
      "Calendar Agent": {
        "main": [
          [
            {
              "node": "Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Try Again",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Event with Attendee": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create Event": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get Events": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Delete Event": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update Event": {
        "ai_tool": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Calendar Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Calendar Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "1f644911-1465-40c3-8208-ad4b21f2c762",
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-06T14:08:29.792Z",
  "id": "0VY3DfON3TEinfPV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "calendar",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "536b41ba-8e9c-4ec1-8f62-59e41d7f4920",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -928,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "G0kYDiotLWQzJgzj",
          "name": "Duy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4ae79f31-ff62-4ce9-ac25-bf7c75d23ecf",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa5d3418-c147-4c0f-9674-7bde51d7717b",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "id": "88b97c05-3025-4753-bd31-f868d8ea3746",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -688,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "trinhdinhduy1206@gmail.com",
          "mode": "list",
          "cachedResultName": "trinhdinhduy1206@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -224,
        368
      ],
      "id": "c83e7097-1b79-4362-a3a6-4f3480ab976b",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jcMyVdR2FIt6e3Ru",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "trinhdinhduy1206@gmail.com",
          "mode": "list",
          "cachedResultName": "trinhdinhduy1206@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -368,
        464
      ],
      "id": "b2ffaea0-c44b-4709-a525-f1a386b013fd",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jcMyVdR2FIt6e3Ru",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "trinhdinhduy1206@gmail.com",
          "mode": "list",
          "cachedResultName": "trinhdinhduy1206@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -496,
        512
      ],
      "id": "e91aa9b4-a36e-4e37-8c7c-1b0434934e27",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jcMyVdR2FIt6e3Ru",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "trinhdinhduy1206@gmail.com",
          "mode": "list",
          "cachedResultName": "trinhdinhduy1206@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -640,
        480
      ],
      "id": "aeaae362-8082-4995-ac20-ccb2272ac59d",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jcMyVdR2FIt6e3Ru",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "trinhdinhduy1206@gmail.com",
          "mode": "list",
          "cachedResultName": "trinhdinhduy1206@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -784,
        448
      ],
      "id": "926d4774-c5b2-4d3e-a4b5-23a9bd875f97",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jcMyVdR2FIt6e3Ru",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        112
      ],
      "id": "a83a30cb-45c2-4e0c-bdbd-ce1bb7107b28",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -848,
        272
      ],
      "id": "b14e10ef-ba48-4f1e-a9b4-c80ca636aff8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DO3eNJoYSeKcYIVp",
          "name": "DUyAPI"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-05-06T14:08:29.801Z",
      "createdAt": "2025-05-06T14:08:29.801Z",
      "role": "workflow:owner",
      "workflowId": "0VY3DfON3TEinfPV",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-20T03:35:16.000Z",
  "versionId": "1f644911-1465-40c3-8208-ad4b21f2c762"
}