n8n_flow_backup6OeTFrnu0nZzWkjQ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create token": {
      "main": [
        [
          {
            "node": "Creates records lark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates records lark": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt data": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-25T10:51:46.046Z",
  "id": "6OeTFrnu0nZzWkjQ",
  "isArchived": false,
  "meta": null,
  "name": "Danh mục amis",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -1040
      ],
      "id": "4804b33e-abb6-4f98-a5e8-695367d67e1a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/api/oauth/actopen/connect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "                        {\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"access_code\": \"YvVGGBXq8+8qXMzEYd3JX08VtqpzcvjhzDoFQUy0p5a3yiPbvhVHhQSwrzplGrEQjJMDjK1nf/8MBV57gGrx/Sc6h9Ff/vyPPNkTQBWA2ehdYdpvquWhl2ozhr2x/hBn3M/UuREtrrtzbPPTfRCZfaAF+/ZcrQFPBacWszBgT9fzGBj44nkMEmIDq3GkBO9lfdLGFDzrkoLkElNq/JUZq2GQNinsCZxNQOnnuo6ND/i7r4YNVAcncR/qVAtNbsICyyB3BASv38QINZOPYgYkFg==\",\n                        \"org_company_code\": \"congtydemoketnoiact\"\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        -1040
      ],
      "id": "b0c7ace6-e409-4067-bac0-8984aab9818b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "dD/gOdqKSuDoghc9H7VprYZnpreeyrizGODZmJPOKwSf8WVG2TcTWXakV0HhPxzr094e25NpzBiPxva94MWvoWJM2t6NrBbLYya1sgMJln4iM/buh85knuSA8du9Wemm44ZKra5S8C5u2N+2iHKmmLD/ULrw9dQ0MXFv8CL+2LG36CwEfpnc7QBS1FRzxX0otvBNRoJMCGK5OKNeitUb7Q=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 3 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -140
      ],
      "id": "4ac49c40-24fd-42b4-b18d-6ef6889da226",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 2 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 900,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -540
      ],
      "id": "5d0f3692-9bfd-447f-883d-9925547d9211",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 1 ,\n                        \"branch_id\": \"db8550da-2fe4-4970-8758-d92e78e2ddd0\",\n                        \"skip\": 0,\n                        \"take\": 1000,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": \"2000-01-25 14:15:02\"\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -1040
      ],
      "id": "a7b90ac1-b751-40f7-a244-1843a74da9c4",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":6 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -620
      ],
      "id": "5c7e65e1-cd33-471f-9c81-aab8211d5612",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "dD/gOdqKSuDoghc9H7VprYZnpreeyrizGODZmJPOKwSf8WVG2TcTWXakV0HhPxzr094e25NpzBiPxva94MWvoWJM2t6NrBbLYya1sgMJln4iM/buh85knuSA8du9Wemm44ZKra5S8C5u2N+2iHKmmLD/ULrw9dQ0MXFv8CL+2LG36CwEfpnc7QBS1FRzxX0otvBNRoJMCGK5OKNeitUb7Q=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 4 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -380
      ],
      "id": "38f5267b-cac2-44ac-bbf8-c745343547b1",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\": 5 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        -280
      ],
      "id": "5cd8df1c-9f59-4063-9597-552a2176e02b",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":8 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -400
      ],
      "id": "e1c86883-d448-4dbc-80f4-1b31b2171074",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":11 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        0
      ],
      "id": "fd4e31aa-82dc-42c2-b0d6-2ddc763e0fc6",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "sApCABzrkQy5dzCja/Hsf9kJe72LCycAQiQP0MJviVYoKSRGJ8ENtyu87HAOXgsQYSyniw7uuCxyR0JVvHl0uF8I0n1Zr82aX7qTwl8o0Rbg6EOEoRt7E182oaMPYM5kAgozjBjbBqVEUrjV1NmbwupZfZTLm45Ho1Njq5nuo6dxwXAI/APHC/2mdN1KFRoNU8neW0KBSp4Pyzg/MI+ah0eKlWa5aHdANbrProl0tIIEXJsbJUMwz8VUyo3szylp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n                        \"data_type\":12 ,\n                        \"branch_id\": null,\n                        \"skip\": 0,\n                        \"take\": 2,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": null\n                        }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -100
      ],
      "id": "0ba04766-a3db-4f1f-b817-f841cb953dc4",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON string\nconst raw = $json[\"Data\"];\nconst parsed = JSON.parse(raw);\n\n// Trả về mỗi object là một item mới\nreturn parsed.map(item => {\n  return {\n    json: item\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -1040
      ],
      "id": "45681f3f-7dff-4ded-84ea-3e0c80879cd9",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a7f1cfbe36b81010",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -1040
      ],
      "id": "33376ebf-6bce-4f98-882a-eb0983e94bab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $json.app_id }}"
            },
            {
              "name": "app_secret",
              "value": "={{ $json.app_scret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a7f1cfbe36b81010\",\n    \"app_secret\": \"IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -1020
      ],
      "id": "235f5a1c-aaa7-437c-be6a-6398f92ea07a",
      "name": "Create token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/EFWPbB04eaPBWGse700lEg1Mg6M/tables/tblQbWxWO0FM29zU/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Mã đối tác\": \"{{ $('Normalize data').item.json.Amis_data.code }}\",\n    \"Tên đối tác\": \"{{ $('Normalize data').item.json.Amis_data.name }}\",\n    \"Địa chỉ\": \"{{ $('Normalize data').item.json.Amis_data.address }}\",\n    \"Mã số thuế\": \"{{ $('Normalize data').item.json.Amis_data.tax_code }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -1020
      ],
      "id": "f4606b7e-ed0e-4fe3-b8e7-6718e792c971",
      "name": "Creates records lark"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77775875-fff9-4792-9778-a8f2d4deb7d4",
              "name": "Amis_data.code",
              "value": "={{ $json.account_object_code }}",
              "type": "string"
            },
            {
              "id": "6a315617-d1c9-4320-b851-e3dcc5207b4b",
              "name": "Amis_data.name",
              "value": "={{ $json.account_object_name }}",
              "type": "string"
            },
            {
              "id": "2b720bc6-df57-45e9-8b59-4fd90e51280a",
              "name": "Amis_data.address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "5494091e-aca5-40e0-9955-a8f3b75ac57c",
              "name": "Amis_data.tax_code",
              "value": "={{ $json.company_tax_code }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "98047c30-f8d1-40e2-a624-f3cdc1ec3692",
      "name": "Normalize data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -1040
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        -1040
      ],
      "id": "a3e85d53-ee1a-4555-99ec-622d27d37727",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e285fa12-d272-48a0-a583-5e90b394fd74",
              "name": "user_data.code",
              "value": "={{ $json.Meta_data.name?.hash('sha256') }}",
              "type": "string"
            },
            {
              "id": "e0e524cf-62cc-4ca3-a469-4caa2ffcab62",
              "name": "user_data.name",
              "value": "={{ $json.Meta_data.email?.hash('sha256') }}",
              "type": "string"
            },
            {
              "id": "1e87a997-5b78-48d8-9616-edfb1b910743",
              "name": "user_data.phone",
              "value": "={{ $json.Meta_data.phone?.hash('sha256') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5bea7527-46f3-41ae-ab0c-2907422c30c0",
      "name": "Encrypt data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        -360
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1800,
        -1020
      ],
      "id": "5da26f99-60ad-446c-99c3-da8fd416d29e",
      "name": "Wait1",
      "webhookId": "2db19d3e-fb49-4ba8-a108-457a6f9edb23"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1100,
        -1040
      ],
      "id": "b170b825-738e-4afb-8634-369b3fb96eff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2060,
        -360
      ],
      "id": "9901cdf5-01c9-42b3-9925-3723132c00ae"
    },
    {
      "parameters": {
        "jsCode": "// Chạy cho từng item\nreturn items.map(item => {\n  const rawData = item.json[\"Data\"]; // Lấy chuỗi JSON từ trường Data\n  const parsed = JSON.parse(rawData); // Parse chuỗi JSON thành object\n\n  return {\n    json: parsed // Trả về object đã parse\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -1040
      ],
      "id": "0579f18f-24e6-4849-a6c9-7e9fd5c64f34",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON string\nconst raw = $json[\"Data\"];\nconst parsed = JSON.parse(raw);\n\n// Trả về mỗi object là một item mới\nreturn parsed.map(item => {\n  return {\n    json: item\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -400
      ],
      "id": "c538ba22-1ab6-47f1-9139-4fca60033255",
      "name": "Code3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-23T05:24:03.000Z",
  "versionId": "6236ebd7-e8da-4cf9-84c3-682288ff11b5"
}