n8n_flow_backup4hpL9nK47a3sLRMV.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T02:53:24.096Z",
    "createdAt": "2025-12-04T02:53:24.096Z",
    "versionId": "f663f065-6ecd-4f45-a4a1-1c6c5e75c1a0",
    "workflowId": "4hpL9nK47a3sLRMV",
    "nodes": [
      {
        "parameters": {},
        "id": "77bc1f5b-1436-4d4e-ab31-80e3cf7593e0",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          340,
          100
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "compress",
          "binaryPropertyName": "={{ $json.binary_keys }}",
          "fileName": "=data{{$now.format('yyyy-MM-dd-tt')}}.zip"
        },
        "id": "ee1a8ea4-f526-4f3d-a866-3ce0928a9b56",
        "name": "Compression",
        "type": "n8n-nodes-base.compression",
        "position": [
          800,
          100
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "content": "## About\nUse me as modular workflow. Instead of building me fixed in your workflow. Just call me when you need me.\n\n\n## Input\nInput can be multiple files \n-imgaes\n-pdfs\n-xlsx,csv....\n\n## Output\nSingle zip file",
          "height": 360
        },
        "id": "2be49dfd-278b-4171-869b-18d3b488a2c2",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b0c3c3db-584a-48c9-b0ca-7f527d35f5a4",
                "name": "fileName",
                "type": "string",
                "value": "={{ $binary.data.fileName.replaceAll(\" \",\"\") }}"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "a9d722f4-3dbc-41b6-b090-13cc8e4e9478",
        "name": "Prepare Output",
        "type": "n8n-nodes-base.set",
        "position": [
          1020,
          100
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "let binaries = {}, binary_keys = [];\n\nfor (const [index, inputItem] of Object.entries($input.all())) {\n  binaries[`data_${index}`] = inputItem.binary.data;\n  binary_keys.push(`data_${index}`);\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(',')\n    },\n    binary: binaries\n}];\n"
        },
        "id": "c794bab1-0309-4c32-8c89-87143e6a5c66",
        "name": "Code Magic",
        "type": "n8n-nodes-base.code",
        "position": [
          580,
          100
        ],
        "typeVersion": 2
      }
    ],
    "connections": {
      "Code Magic": {
        "main": [
          [
            {
              "node": "Compression",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compression": {
        "main": [
          [
            {
              "node": "Prepare Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Code Magic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "f663f065-6ecd-4f45-a4a1-1c6c5e75c1a0",
  "connections": {
    "Code Magic": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code Magic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-05T04:02:52.267Z",
  "id": "4hpL9nK47a3sLRMV",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 18",
  "nodes": [
    {
      "parameters": {},
      "id": "77bc1f5b-1436-4d4e-ab31-80e3cf7593e0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        340,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ $json.binary_keys }}",
        "fileName": "=data{{$now.format('yyyy-MM-dd-tt')}}.zip"
      },
      "id": "ee1a8ea4-f526-4f3d-a866-3ce0928a9b56",
      "name": "Compression",
      "type": "n8n-nodes-base.compression",
      "position": [
        800,
        100
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## About\nUse me as modular workflow. Instead of building me fixed in your workflow. Just call me when you need me.\n\n\n## Input\nInput can be multiple files \n-imgaes\n-pdfs\n-xlsx,csv....\n\n## Output\nSingle zip file",
        "height": 360
      },
      "id": "2be49dfd-278b-4171-869b-18d3b488a2c2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0c3c3db-584a-48c9-b0ca-7f527d35f5a4",
              "name": "fileName",
              "type": "string",
              "value": "={{ $binary.data.fileName.replaceAll(\" \",\"\") }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a9d722f4-3dbc-41b6-b090-13cc8e4e9478",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.set",
      "position": [
        1020,
        100
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "let binaries = {}, binary_keys = [];\n\nfor (const [index, inputItem] of Object.entries($input.all())) {\n  binaries[`data_${index}`] = inputItem.binary.data;\n  binary_keys.push(`data_${index}`);\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(',')\n    },\n    binary: binaries\n}];\n"
      },
      "id": "c794bab1-0309-4c32-8c89-87143e6a5c66",
      "name": "Code Magic",
      "type": "n8n-nodes-base.code",
      "position": [
        580,
        100
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-05T04:02:52.270Z",
      "createdAt": "2025-07-05T04:02:52.270Z",
      "role": "workflow:owner",
      "workflowId": "4hpL9nK47a3sLRMV",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T04:34:19.000Z",
  "versionId": "f663f065-6ecd-4f45-a4a1-1c6c5e75c1a0"
}