n8n_flow_backupOOETGZbhz94d4Cg3.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Acess_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create token": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Creates records lark1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates records lark1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acess_token": {
      "main": [
        [
          {
            "node": "Create token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Acess_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-19T08:22:43.867Z",
  "id": "OOETGZbhz94d4Cg3",
  "isArchived": false,
  "meta": null,
  "name": "Dữ liệu vận hành kế toán Amis",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -112
      ],
      "id": "6d1f89e6-f319-408b-9549-33645eb421c1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/api/oauth/actopen/connect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=                        {\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"access_code\": \"{{ $('Acess_token').item.json.token }}\",\n                        \"org_company_code\": \"congtydemoketnoiact\"\n                        } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -128
      ],
      "id": "d89dc9ef-5eae-4399-8361-890c9a842ce2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://actapp.misa.vn/apir/sync/actopen/get_dictionary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MISA-AccessToken",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n                        \"data_type\": 1 ,\n                        \"branch_id\": \"db8550da-2fe4-4970-8758-d92e78e2ddd0\",\n                        \"skip\": 0,\n                        \"take\": 1000,\n                        \"app_id\": \"b389320a-d4d5-4b61-a70a-36ff1d258df8\",\n                        \"last_sync_time\": \"{{ $('Code in JavaScript').item.json.formattedTimeMinus3Days }}\"\n                        } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -128
      ],
      "id": "2666571d-9b73-44cb-825f-6dc575d32b16",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON string\nconst raw = $json[\"Data\"];\nconst parsed = JSON.parse(raw);\n\n// Trả về mỗi object là một item mới\nreturn parsed.map(item => {\n  return {\n    json: item\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -128
      ],
      "id": "89514269-07b4-4d6a-b3fb-f18c9d9eb3ce",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d8fef1-66c0-4e59-8713-7d4e7ca33e32",
              "name": "app_id",
              "value": "cli_a7f1cfbe36b81010",
              "type": "string"
            },
            {
              "id": "32404746-b39b-4078-8463-5e0f865f35d0",
              "name": "app_scret",
              "value": "IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -128
      ],
      "id": "63825166-84fb-4d56-a3bb-4a524664b119",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "=cli_a7f1cfbe36b81010"
            },
            {
              "name": "app_secret",
              "value": "=IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a7f1cfbe36b81010\",\n    \"app_secret\": \"IHGVFOCYPGBkP7Uvw8E8IgXnZn4bj7z3\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -128
      ],
      "id": "54f3db38-1c8d-4982-996d-ecaf102a1fba",
      "name": "Create token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77775875-fff9-4792-9778-a8f2d4deb7d4",
              "name": "Amis_data.code",
              "value": "={{ $json.account_object_code }}",
              "type": "string"
            },
            {
              "id": "6a315617-d1c9-4320-b851-e3dcc5207b4b",
              "name": "Amis_data.name",
              "value": "={{ $json.account_object_name }}",
              "type": "string"
            },
            {
              "id": "2b720bc6-df57-45e9-8b59-4fd90e51280a",
              "name": "Amis_data.address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "5494091e-aca5-40e0-9955-a8f3b75ac57c",
              "name": "Amis_data.tax_code",
              "value": "={{ $json.company_tax_code }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b457f6f8-345d-4590-a6f6-155d290afa2c",
      "name": "Normalize data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -128
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        -128
      ],
      "id": "cf031b2f-31a6-480f-afe7-7f66091f1742",
      "name": "Split Out"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        -112
      ],
      "id": "9c42e9a0-002b-4cb4-97e1-2963ffa70766",
      "name": "Wait1",
      "webhookId": "2db19d3e-fb49-4ba8-a108-457a6f9edb23"
    },
    {
      "parameters": {
        "batchSize": 30,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        -128
      ],
      "id": "6d9321a2-e6e9-4f34-afc5-1c834043df32",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Chạy cho từng item\nreturn items.map(item => {\n  const rawData = item.json[\"Data\"]; // Lấy chuỗi JSON từ trường Data\n  const parsed = JSON.parse(rawData); // Parse chuỗi JSON thành object\n\n  return {\n    json: parsed // Trả về object đã parse\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -128
      ],
      "id": "d8f114e5-b236-4230-9347-059b914717aa",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/EFWPbB04eaPBWGse700lEg1Mg6M/tables/tblQbWxWO0FM29zU/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Create token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Mã đối tác\": \"{{ $('Normalize data').item.json.Amis_data.code }}\",\n    \"Tên đối tác\": \"{{ $('Normalize data').item.json.Amis_data.name }}\",\n    \"Địa chỉ\": \"{{ $('Normalize data').item.json.Amis_data.address }}\",\n    \"Mã số thuế\": \"{{ $('Normalize data').item.json.Amis_data.tax_code }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        -112
      ],
      "id": "3f4f3dd8-8cb1-4d99-a401-d6ddad16bc98",
      "name": "Creates records lark1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "444e29ea-7039-4773-bcda-ed035ffee83f",
              "name": "token",
              "value": "UoANQNuSmZCnE240PHO28eww/B/NmkAVa08P6GiC+hq8unjbEARwow2UL2xIEDZnD+8oIW/s8IrWPa90vTo6AaQ8BkqXqm/JdJ/VLAHf2XKsmDO6b8gt6VjBEiZsmZN2Rtn5d7jHdLoJwfFXhy+Sa3Jxu+qD4s4GPraRS7VxwiTvhBcrr14Q0/bOMVOGMZArB8ltSB8X19nb210x67ucgOEpGf6mSXhKNBWXfd/TmeX2TvCc1Lvozl5i0y/FsYpytYzhD0t5/RVuhsDNi5WohA==",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -128
      ],
      "id": "836e3b93-a323-4c07-a879-19e81408cfe5",
      "name": "Acess_token"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        144
      ],
      "id": "a0b8a153-cda8-49f1-9d1b-34a07bb2d839",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Giả định node trigger của ní trả về 1 item\n// và field chứa thời gian tên là 'timestamp'\nconst item = items[0];\nconst isoTimestamp = item.json.timestamp;\n\n// 1. Chuyển chuỗi ISO thành đối tượng Date\nconst date = new Date(isoTimestamp);\n\n// 2. TRỪ ĐI 3 NGÀY ✨\ndate.setDate(date.getDate() - 3); // <--- DÒNG THẦN KỲ NÈ NÍ!\n\n// 3. Viết một hàm nhỏ (helper) để thêm số 0\nfunction pad(num) {\n  return String(num).padStart(2, '0');\n}\n\n// 4. Lấy từng phần của ngày/giờ từ đối tượng Date MỚI (đã trừ 3 ngày)\nconst year = date.getFullYear();\nconst month = pad(date.getMonth() + 1);\nconst day = pad(date.getDate());\nconst hours = pad(date.getHours());\nconst minutes = pad(date.getMinutes());\nconst seconds = pad(date.getSeconds());\n\n// 5. Ghép chúng lại theo format ní muốn\nconst formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n\n// 6. Gán giá trị mới vào item\n// Đặt tên field mới là 'formattedTimeMinus3Days' cho dễ phân biệt\nitem.json.formattedTimeMinus3Days = formattedTimestamp;\n\n// Trả về item đã được cập nhật\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        64
      ],
      "id": "f1bb857f-016f-42c3-889b-55a337016ffc",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-19T08:22:43.870Z",
      "createdAt": "2025-10-19T08:22:43.870Z",
      "role": "workflow:owner",
      "workflowId": "OOETGZbhz94d4Cg3",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-19T08:31:05.000Z",
  "versionId": "5d7243a8-4161-4e9c-8a41-1d918cd37ec6"
}