n8n_flow_backupPhQkiPyzivN0iArd.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        []
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T13:24:02.369Z",
  "id": "PhQkiPyzivN0iArd",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 31",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "de8050f7-10eb-484b-97be-6721b1239d15",
      "name": "When chat message received",
      "webhookId": "8c49eb80-c2b6-49ad-894b-39f9e7205b9f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Bạn là nhân viên truy xuất thông tin\nvới câu hỏi của user\n{{ $json.chatInput }}\nBạn cần dùng mcp tool để thực hiện theo thao tác của uesr, nếu bạn không gọi tool được, bạn phải báo cáo lại cho user là không thể thực hiện\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1b3606f5-e354-4b5d-8f90-aa7cfe0bae9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.hebekery.vn/mcp/1dcd78e2-0d47-4924-8089-e252ffd2c431",
        "include": "selected"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        480,
        160
      ],
      "id": "76750dc2-5e3d-46ab-ba4e-f58c77dbcc9b",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        304,
        192
      ],
      "id": "4f57bbef-3fe5-4580-8c94-60d14490e48d",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "SwIcdt6gMENM0Zcy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "435fd3ee-f380-4ea6-8cfb-e30f02b505b5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DO3eNJoYSeKcYIVp",
          "name": "Duy_API"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-10T13:24:02.376Z",
      "createdAt": "2025-09-10T13:24:02.376Z",
      "role": "workflow:owner",
      "workflowId": "PhQkiPyzivN0iArd",
      "projectId": "HmG9Xuclf9YeLvw5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T14:11:47.000Z",
  "versionId": "ecae8984-0ed7-4960-b8ee-342a571b0433"
}